<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script type="text/javascript" src="controller.js"></script>

</head>
<body ng-app="myApp" ng-controller="CarCtrl">

<div id="ControleDiv">
   <div>
        <button ng-click=Send("Up") id="BtnUp">Up</button>
   </div>
   <div id="LeftBtnDiv">
        <button ng-click=Send("Left") id="BtnLeft">Left</button>
        <input type="checkbox" name="your-group" value="unit-in-group" />
        <button ng-click=Send("Right") id="BtnRight">Right</button>
   </div>
   <div>
        <button ng-click=Send("Down") id="BtnDown">Down</button>
   </div>
    <div><input type="range"  min="0" max="50" /></div>

</div>    
<div class="maindiv">
    <ul id="textfield" ng-model="position"></ul>
</div>
</body>
</html>